# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class
.mypy_cache

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
test.py

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
tests/unit/dragonchain/credentials

# Environments
env
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.python-version

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# OS Files
.DS_Store
desktop.ini

# Editor/IDE files
.idea
.vscode
.vs

# Autodocs
.directory
_build
.build
.static
